<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ author }}">
  <meta name="keywords" content="{{ keywords }}">

  <meta property="og:site_name" content="{{ site }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:description" content="{{ description }}">
  {{#if og_image_src}}
  <meta property="og:image" content="{{ og_image_src }}">
  <meta property="og:image:alt" content="{{ og_image_alt }}">
  {{/if}}
  {{#if type}}
  <meta property="og:type" content="{{ page_type }}">
  {{else}}
  <meta property="og:type" content="website">
  {{/if}}

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:site" content="{{ site }}">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">
  {{#if twitter_image_src}}
  <meta property="twitter:image" content="{{ twitter_image_src }}">
  {{/if}}
  <meta property="twitter:creator" content="{{ twitter_author }}">

  <link rel="canonical" href="{{ url }}">
  <!-- <link rel="shortcut icon" href="./favicon.ico"> -->
  <!-- <link rel="stylesheet" href="./css/default.css" /> -->
</head>
<body>
{{{ content_html }}}
</body>
</html>
